#wallpaper-contact
	.container-fluid.fix
		.col-xs-12.col-sm-12.col-md-12.col-lg-4.fix
			#box-contact-w
				#info-contact
					%span#title-contact contáctanos
					%span.title-phone-email Teléfonos
					%span.item-phone-email +58 269 2206758
					%span.item-phone-email +58 414 5299511
					%span.title-phone-email Correo electrónico
					%span.item-phone-email medinal@reimca.net
					%span.item-phone-email estebanmedina@reimca.net
		.col-xs-12.col-sm-12.col-md-12.col-lg-8.fix
			#box-form-contact
				#mask-contac
					= render "keppler_contact_us/messages/form"